* {box-sizing: border-box}

/* Style the tab */
.tab {
float: right;
border: 1px solid #ccc;
background-color: #f1f1f1;
width: 30%;
height: 300px;
}

/* Style the buttons that are used to open the tab content */
.tab button {
display: block;
background-color: inherit;
color: black;
padding: 22px 16px;
width: 100%;
border: none;
outline: none;
text-align: center;
cursor: pointer;
transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
float: right;
padding: 0px 50px;
border: 50px solid #ccc;
width: 70%;
#border-left: none;
height: auto;
}
.tabcontent h3{
border: 10px solid #ccc;
text-align:center;
    padding-top: 20px;
    padding-bottom: 20px;
	font-size:20px;


}
.space{
	padding-left:30px;
}
.text-info{
	font-style:bold;
	color:red;
}
.sub_list{
	padding-left:90px;
}
.text_WorkHome{
display: block;
text-align: right;
padding: 10px 0px;
}
h4{
	margin-top: 0px;
    margin-bottom: 0px;
    width: 100%;
    height: 18px;
}
}
.space_WorkHome{
	padding-right:10px;
}
